/*
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:15px;
  padding-right:3px;
}
*/
.iconTable-large:before {
    vertical-align: top;
    font-size: 4em;
  }
  .faTable:before {
  vertical-align: top;
  font-family: FontAwesome;
  font-style: normal;   
  /*display: inline-block;*/
  color:white;
  /*margin-top: -1.3em;*/
  margin-left:0.4em;
}
/*
.faTable:after{
    content: "";
    width: 1px;
    height: 31px;
    margin-top:-3.5em;
    position: absolute;
    border-left: 1px solid silver;
    box-shadow: inner 1px 0px 0px 0px silver;      
    margin-left: 0.5em;
}
*/